@using RealEstateManager.Utils
@model RealEstateManager.Areas.Public.Models.Account.AccountDeleteModel

@{
    ViewBag.Title = Localization.GetString("AccountDeletePage_Title");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header bg-card text-white">
            <h3>@Localization.GetString("AccountDeletePage_Header")</h3>
        </div>
        <div class="card-body bg-estate">
            <p>@Localization.GetString("AccountDeletePage_Text")</p>
            <div class="form-group">
                @Html.HiddenFor(x => x.Id)
            </div>
            <button type="submit" class="btn btn-estate">@Localization.GetString("Button_Ban")</button>
            <br />
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        </div>
    </div>
}
