@using RealEstateManager.Utils
@model RealEstateManager.Areas.Public.Models.Account.AccountForgottenPasswordModel

@{
    ViewBag.Title = Localization.GetString("Public_AccountForgottenPasswordPage_Title");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>@Localization.GetString("Public_AccountForgottenPasswordForm_Header")</h3>
        </div>
        <div class="card-body bg-light">
            @Localization.GetString("Public_AccountForgottenPasswordForm_RecoveryDescription")
            <hr/>
            <div class="form-group">
                @Html.LabelFor(x => x.EmailAddress)
                @Html.EditorFor(x => x.EmailAddress, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(x => x.EmailAddress, null, new {@class = "text-danger"})
            </div>
            <button type="submit" class="btn btn-estate">@Localization.GetString("Public_AccountForgottenPasswordForm_SubmitButtonText")</button>
            <br />
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        </div>
    </div>
}
