@using RealEstateManager.Utils
@model RealEstateManager.Areas.Public.Models.Account.AccountRecoverPasswordModel

@{
    ViewBag.Title = Localization.GetString("Public_AccountRecoverPasswordPage_Title");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>@Localization.GetString("Public_AccountRecoverPasswordForm_Header")</h3>
        </div>
        <div class="card-body bg-light">
            @Html.HiddenFor(x => x.Token)
            <div class="form-group">
                @Html.LabelFor(x => x.NewPassword)
                @Html.PasswordFor(x => x.NewPassword, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(x => x.NewPassword, null, new {@class = "text-danger"})
            </div>
            <button type="submit" class="btn btn-primary">@Localization.GetString("Button_Submit")</button>
            <br />
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        </div>
    </div>
}
