@using RealEstateManager.Utils
@model RealEstateManager.Areas.Public.Models.Account.AccountRegisterAgentModel

@{
    ViewBag.Title = Localization.GetString("Public_AccountRegisterAgentPage_Title");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header card-orange text-white">
            <h3>@Localization.GetString("Public_AccountRegisterAgentForm_Header")</h3>
        </div>
        <div class="card-body bg-light">
            <div class="form-group">
                @Html.LabelFor(x => x.EmailAddress)
                @Html.EditorFor(x => x.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.EmailAddress, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Username)
                @Html.EditorFor(x => x.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Username, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FirstName)
                @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.LastName)
                @Html.EditorFor(x => x.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.PhoneNumber)
                @Html.EditorFor(x => x.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.PhoneNumber, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.RegistrationKey)
                @Html.PasswordFor(x => x.RegistrationKey, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.RegistrationKey, null, new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">@Localization.GetString("Button_Submit")</button>
            <br />
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        </div>
    </div>
}
