@using RealEstateManager.Controllers
@using RealEstateManager.Utils

@{
    var db = BaseController.GetController(ViewContext).Context;
}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - @Localization.GetString("ApplicationName")</title>
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-brand">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @Html.ActionLink(Localization.GetString("ApplicationName"), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav mr-auto">
                        @if (Request.IsAuthenticated)
                        {
                            var currentIdentity = db.GetCurrentIdentity(User);

                            <li class="nav-item">@Html.ActionLink(Localization.GetString("MenuButton_Estates"), "Index", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink(currentIdentity.Name, "Index", "Agent", new { id = currentIdentity.Id }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink(Localization.GetString("MenuButton_AgentLogout"), "Logout", "Agent", null, new { @class = "nav-link" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&#169; @DateTime.Now.Year - @Localization.GetString("ApplicationName")</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
