@using RealEstateManager.Utils
@model RealEstateManager.Models.BuildingInfo.BuildingInfoGetModel

@{
    ViewBag.Title = Localization.GetString("BuildingInfoDetailsPage_Title");
}

@using (Html.BeginForm())
{
    <p>
        @Localization.GetString("BuildingInfoIndexPage_InfoViewType") @CustomEnumHelper.GetLocalizedName(Model.View)
    </p>
    <p>
        @Localization.GetString("BuildingInfoIndexPage_InfoAct16") @(Model.Act16?
        @Localization.GetString("BuildingInfoIndexPage_InfoAct16_Yes") : @Localization.GetString("BuildingInfoIndexPage_InfoAct16_No"))
    </p>
    <p>
        @Localization.GetString("BuildingInfoIndexPage_InfoFloors") @Model.Floors
    </p>
    <p>
        @Localization.GetString("BuildingInfoIndexPage_InfoBedrooms") @Model.Bedrooms
    </p>
    <p>
        @Localization.GetString("BuildingInfoIndexPage_InfoBathrooms") @Model.Bathrooms
    </p>
    <p>
        @Localization.GetString("BuildingInfoIndexPage_InfoBalconies") @Model.Balconies
    </p>
    <p>
        @Localization.GetString("BuildingInfoIndexPage_InfoGarages") @Model.Garages
    </p>
}
