@using RealEstateManager.Utils
@using RealEstateManager.Models.Data;
@using RealEstateManager.Models.EstateAccount;
@using System.Collections.Generic;
@model List<EstateAccountModel>

@{
    ViewBag.Title = Localization.GetString("EstateAccountCreationPage_Title");
}

@Html.ValidationSummary(true, null, new { @class = "text-danger" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>@Localization.GetString("EstateAccountUpdatePage_Header")</h3>
        </div>
        <div class="card-body bg-light">
            <p>@Localization.GetString("EstateAccountUpdatePage_Text")</p>
            @for (var index = 0; index < Model.Count; index++)
            {
                @Html.HiddenFor(x => x[index].EstateId)
                @Html.HiddenFor(x => x[index].UserId)
                @Html.HiddenFor(x => x[index].Username)
                @Html.DisplayFor(x => x[index].Username)
                @Html.EditorFor(x => x[index].HasRights)
            }
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Localization.GetString("Button_Update")</button>
            </div>
        </div>
    </div>
}
