@using RealEstateManager.Utils
@model RealEstateManager.Models.Estate.EstateGetModel

@{
    ViewBag.Title = Localization.GetString("EstateIndexPage_Title");
}

<div class="card">
    <div class="card-header bg-primary text-white">
        <h3>@Localization.GetString("EstateDetailsPage_Header")</h3>
    </div>
    <div class="card-body bg-light">
        <div class="jumbotron jumbotron-padding">
            <h1 class="display-4">@Model.Name</h1>
            <p class="lead">
                @Html.LabelFor(x => x.Type):
                @CustomEnumHelper.GetLocalizedName(Model.Type, ViewContext)
            </p>
            <p class="lead">
                @Html.LabelFor(x => x.Status):
                @CustomEnumHelper.GetLocalizedName(Model.Status, ViewContext)
            </p>
            <p class="lead">
                @Html.LabelFor(x => x.Area):
                @Html.DisplayFor(x => x.Area)
                @Localization.GetString("EstateIndexPage_AreaSign")
            </p>
            <p class="lead">
                @Html.LabelFor(x => x.Price):
                @Html.DisplayFor(x => x.Price)
                @Localization.GetString("EstateIndexPage_MoneySign")
            </p>
            <p class="lead">
                @Html.LabelFor(x => x.Address):
                @Html.DisplayFor(x => x.Address)
            </p>

            <hr class="my-4">

            @if (Model.BuildingInfoGetModel != null)
            {
                @Html.Partial("~/Views/BuildingInfo/Details.cshtml", Model.BuildingInfoGetModel)
            }
            <p>@Html.DisplayFor(x => x.PrivateDescription)</p>
            <p>@Html.DisplayFor(x => x.PublicDescription)</p>

            @Html.ActionLink(Localization.GetString("Button_Edit"), "Update", "Estate", new { id = Model.Id }, new { @class = "btn btn-primary" })

            @if (Model.BuildingInfoGetModel != null)
            {
                @Html.ActionLink(Localization.GetString("Button_Edit_Info"), "Update", "BuildingInfo", new { id = Model.BuildingInfoGetModel.Id }, new { @class = "btn btn-primary" })
            }

            @Html.ActionLink(Localization.GetString("Button_Delete"), "Delete", "Estate", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
