@using RealEstateManager.Utils
@model RealEstateManager.Models.Estate.EstateListGetModel

@{
    ViewBag.Title = Localization.GetString("EstateIndexPage_Title");
}

@Html.AntiForgeryToken()
<div class="card">
    <div class="card-header bg-primary text-white">
        <h3>@Localization.GetString("EstateIndexPage_Header")</h3>
    </div>
    <div class="card-body bg-light">
        @if (Model != null && Model.Estates != null)
        {
            foreach (var estate in Model.Estates)
            {
                <div class="jumbotron">
                    <h1 class="display-4">@estate.Name</h1>
                    <p class="lead">@Localization.GetString("EstateIndexPage_EstateType") @estate.Type</p>
                    <p class="lead">@Localization.GetString("EstateIndexPage_EstateStatus") @estate.Status</p>
                    <hr class="my-4">

                    <p class="lead">
                        @Localization.GetString("EstateIndexPage_EstateArea") @estate.Area @Localization.GetString("EstateIndexPage_AreaSign")
                    </p>
                    <p class="lead">
                        @Localization.GetString("EstateIndexPage_EstatePrice") @estate.Price @Localization.GetString("EstateIndexPage_MoneySign")
                    </p>
                    <p>@estate.PublicDescription</p>
                </div>
            }
        }
        else
        {
            <p>@Localization.GetString("EstateGet_NoEstates_Error")</p>
        }
    </div>
</div>
