@using RealEstateManager.Areas.Public.Controllers
@using RealEstateManager.Models.Data
@using RealEstateManager.Utils

@{
    var db = BasePublicController.GetController(ViewContext).Context;
    var currentIdentity = BasePublicController.GetCurrentIdentity(db, User);
}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - @Localization.GetString("ApplicationName")</title>
        @Styles.Render("~/Content/publiccss")
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container">
                <div class="navbar-brand">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @Html.ActionLink(Localization.GetString("ApplicationName"), "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav mr-auto">
                        @if (Request.IsAuthenticated)
                        {
                            if (currentIdentity != null)
                            {
                                if (currentIdentity.Type != UserType.PublicUser)
                                {
                                    <li class="nav-item">@Html.ActionLink(Localization.GetString("Public_MenuButton_AdminArea"), "Index", "Home", new { area = string.Empty }, new { @class = "nav-link" })</li>
                                }

                                <li class="nav-item">@Html.ActionLink(currentIdentity.Name, "Details", "Account", null, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink(Localization.GetString("Public_MenuButton_Logout"), "Logout", "Account", null, new { @class = "nav-link" })</li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink(Localization.GetString("Public_MenuButton_Login"), "Login", "Account", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink(Localization.GetString("Public_MenuButton_Register"), "Register", "Account", null, new { @class = "nav-link" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&#169; @DateTime.Now.Year - @Localization.GetString("ApplicationName")</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryfancybox")

        <script>
            @{
                var area = ViewContext.RouteData.DataTokens["area"] == null 
                    ? "/Admin/" 
                    : "/";
            }

            $(function() {
                var action = "@ViewContext.RouteData.Values["Action"].ToString()";
                var controller = "@ViewContext.RouteData.Values["Controller"].ToString()";
                var area = "@area";

                var finalUrl = area;

                if (action === "Index")
                    finalUrl = finalUrl + controller + "/";
                else
                    finalUrl = finalUrl + controller + "/" + action + "/";

                var navLinks = $(".nav-item a").not(".dropdown-item");

                navLinks.each(function (index) {
                    var link = $(this);
                    var href = link.attr("href") + "/";

                    if (href === "#/")
                    {
                        var childLink = link
                            .parent()
                            .find(".dropdown-item")
                            .first();

                        href = childLink.attr("href") + "/";
                    }

                    if (finalUrl.indexOf(href) >= 0)
                    {
                        link.addClass("active");
                        return false;
                    }
                });
            });
        </script>

        @RenderSection("scripts", required: false)
    </body>
</html>
